<div class="container" *ngIf="user.ime">
<!--<input [(ngModel)]="query" type="text"/>-->
<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>#</th>
    <th>Autor</th>
    <th></th>
    <th>EDIT</th>
    <th>DELETE</th>

  </tr>
  <tr *ngFor="let autor of autori; let i=index;">
    <td>{{i+1}}</td>

    <td *ngIf="editingIndex!=i"><a [routerLink]="[autor.id]">>> {{autor.ime}} {{autor.prezime}} <<</a></td>
    <td *ngIf="editingIndex==i">
      <fieldset class="form-group">
        <input class="form-control" type="text" [(ngModel)]="editingAutor.ime"/>
      </fieldset>
    </td>

    <td></td>
    <td *ngIf="editingIndex==i">
      <fieldset class="form-group">
        <input class="form-control" type="text" [(ngModel)]="editingAutor.prezime"/>
      </fieldset>
    </td>

    <td *ngIf="editingIndex!=i"><button class="btn btn-outline-info" (click)="setEdit(i)">Edit</button></td>
    <td *ngIf="editingIndex==i"><button class="btn btn-outline-info" (click)="doneEditing(i)">Done</button></td>

    <td><button class="btn btn-outline-danger" (click)="deleteAutor(i)">Delete</button></td>
  </tr>
</table>

<button class="btn btn-success" (click)="add=!add">Dodaj novog autora!</button><br/>

<div *ngIf="add">

  <div style="margin: 10px 0;">
  Ime:<br/>
  <input  type="text" [(ngModel)]="new.ime"/><br/>
  Prezime:<br/>
  <input  type="text" [(ngModel)]="new.prezime"/><br/>
  </div>


  <button class="btn btn-success" (click)="addAutor()">Add</button>
</div>
</div>
<div *ngIf="!user.ime" style="text-align: center;">
  <h3>Molim prijavite se za prikaz stranice!</h3>
</div>
